extends layout.pug 
block content
    if (locals.savePostSuccess)
        p Post saved successfully.
    a(href="/add-post") 
        button Add Post 
    if locals.posts 
        each post in posts
            div(class='posts')
                div(class="post")
                    div(class="post-header") 
                        div
                            div 
                                h6 subject
                            div
                                p=post.subject 
                        div 
                            div
                                h6 by
                            div
                                p=post.name 
                        div 
                            div 
                                h6 on 
                            div 
                                p=post.date_time
                    div(class="post-content")
                        p=post.content 
                    if locals.user.admin    
                        div 
                            a(href=`/delete-post/${post.id}`)
                                button Delet Post 

